/* CSS has been reset per css-reset.css */

header {
	height: 100px;
	background: #f2f2f2;
}
/* temporary heights and colors */
main {
	height: 500px;
	background: #6addf7;
}

.featured-video-container {
	height: 250px;
	background: #466d75;
	text-align: center;
}

.sidebar-videos {
	height: 100px;
	background: #19a2c2;
	text-align: center;
}
/* end temporary heights and colors */

/* Header section */
nav {
	display: flex;
	max-width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0 1%;
}

.youtube-nav,
.search-bar-container,
.google-nav {
	padding: 0 10px;
	/*flex: 1;*/
	justify-content: center;
}

/* all nav icons color & size */
.fa-bars,
.fa-youtube,
.fa-video,
.fa-th,
.fa-bell,
.google-nav img {
	font-size: 25px;
	color: #999;
	margin: 0 15px;
}

.fa-bars,
.fa-youtube,
.youtube-logo,
.fa-video,
.fa-th,
.fa-bell,
.google-nav img:hover {
	cursor: pointer;
}

/* youtub-nav (left side) */
.youtube-nav {
	display: flex;
	align-items: center;
}

.fa-youtube {
	color: #ff0000;
	padding-right: 0;
	margin-right: 0;
}

.youtube-nav .youtube-logo {
	font-size: 25px;
	font-family: "Open Sans", sans-serif;
}

.youtube-logo {
	display: inline-block;
	color: #333;
}

/* search bar */
.search-bar-container {
	justify-content: center;
}

.search-bar-container form {
	width: 520px;
	height: 30px;
	display: flex;
}

.search-bar-container .search-bar {
	flex: 1;
	width: 100%;
	margin-right: 0;
}

.search-bar-container .search-button {
	display: relative;
	margin: 0 15px;
	margin-left: 0;
	background: #f2f2f2;
	color: #b3b3b3;
}

.search-bar-container .search-button:hover {
	cursor: pointer;
	background: #ccc;
	color: #333;
}

/* Google nav (right side) */
.google-nav {
	display: flex;
	align-items: center;
}

.google-nav img {
	max-height: 55px;
}

/* Content section */
main {
	display: flex;
	margin-top: 2%;
}

.featured-video-container,
.sidebar-videos {
	flex: 1;
}

.featured-video-container {
}

.sidebar-videos {
}

/* Reorder main content */
@media (max-width: 1000px) {
	main {
		flex-direction: column;
	}

	.featured-video-container {
	}

	.sidebar-videos {
	}
}

/* Side bar suggested videos */
.video img {
	width: 150px;
}
