/* CSS has been reset per css-reset.css */

/* Header section */
header {
	background: #f2f2f2;
}

nav {
	display: flex;
	max-width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0 1%;
}

.youtube-nav,
.search-bar-container,
.google-nav {
	padding: 0 10px;
	/*flex: 1;*/
	justify-content: center;
}

/* all nav icons color & size */
.fa-bars,
.fa-youtube,
.fa-video,
.fa-th,
.fa-bell,
.google-nav img {
	font-size: 25px;
	color: #666;
	margin: 0 15px;
}

.fa-bars,
.fa-youtube,
.youtube-logo,
.fa-video,
.fa-th,
.fa-bell,
.google-nav img:hover {
	cursor: pointer;
}

/* youtub-nav (left side) */
.youtube-nav {
	display: flex;
	align-items: center;
}

.youtube-link {
	text-decoration: none;
}

.fa-youtube {
	color: #ff0000;
	padding-right: 0;
	margin-right: 0;
}

.youtube-nav .youtube-logo {
	font-size: 25px;
	font-family: "Open Sans", sans-serif;
}

.youtube-logo {
	display: inline-block;
	color: #333;
}

/* search bar */
.search-bar-container {
	justify-content: center;
}

.search-bar-container form {
	width: 520px;
	height: 30px;
	display: flex;
}

.search-bar-container .search-bar {
	flex: 1;
	width: 100%;
	margin-right: 0;
}

.search-bar-container .search-button {
	display: relative;
	margin: 0 15px;
	margin-left: 0;
	background: #f2f2f2;
	color: #b3b3b3;
}

.search-bar-container .search-button:hover {
	cursor: pointer;
	background: #ccc;
	color: #333;
}

/* Google nav (right side) */
.google-nav {
	display: flex;
	align-items: center;
}

.google-nav img {
	max-height: 55px;
}

/* Content sections layout */
main {
	display: flex;
	margin-top: 2%;
}

.sidebar-videos {
	flex: 1;
	margin-right: 5%;
	margin-left: 1%;
}

.featured-video-container {
	flex: 2;
	text-align: left;
	margin-left: 5%;
}

/* Reorder main content */
@media (max-width: 1000px) {
	main {
		flex-direction: column;
	}
	.sidebar-videos,
	.featured-video-container {
		margin: 1% 5%;
	}
}

/* Current video player and info */
.main-video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.featured-video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.current-video-details p,
.current-video-details a,
.current-video-details h3 {
	color: #8c8c8c;
}

.current-video-info {
	font-size: 1.3em;
	padding-top: 15px;
}

.current-video-details {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
}

.view-details {
	display: flex;
	justify-content: space-between;
}
.view-details p {
	padding-right: 10px;
}

.current-video-menu {
	display: flex;
}

.current-video-menu a {
	margin-left: 20px;
}

.video-menu {
	text-decoration: none;
}

.video-menu h3 {
	display: inline-block;
}

/* Side bar suggested videos */
.video {
	display: flex;
	margin-bottom: 10px;
}

.video img {
	width: 150px;
	margin-right: 10px;
}

.credit,
.credit a {
	color: #8c8c8c;
}

.credit a {
	text-decoration: none;
}

.credit a:hover {
	text-decoration: underline;
}

.credit-container h4 {
	margin-bottom: 10px;
}

.credit p {
	display: inline-block;
	/*font-size: 0.8em;*/
	margin-top: 5px;
}
